<br><br><br>
<div class="container">
  <%=form_tag("/directors/create", :method=>"post") do %>
  <legend>Crear nuevo director</legend>
  <div class="form-group row">
    <div class="col-xs-12 col-sm-4">
      <label for="name">Nombre del director</label>
      <input type="text" name="name" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-12 col-sm-4">
      <label for="last_name">Apellido del director</label>
      <input type="text" name="last_name" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" align="right">
      <button type="submit" class="btn btn-nextia-primary btn-block" onclick="goTo('/nueva_pelicula')">Crear</button>
    </div>
  </div>
  <%end%>
</div>

<script type="text/javascript">
    function goTo (link){
      window.location.href = link;
    }
</script>
