<div class="container">
  <br><br><br><br><br><br> <br><br>
  <div class="row">
    <div class="col-xs-12">
      <center>
        <img class="img-responsive" src="/lognetflix.png" width=450px"" alt="">
      </center>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <center>
        <button type="button" name="button" class="btn btn-lg btn-nextia-primary" onclick="goTo('/peliculas')">Ir a peliculas</button>
      </center>
    </div>

  </div>
</div>

<script type="text/javascript">
  function goTo(link){
    window.location.href = link;
  }
</script>
